<div class="about no-pd-bottom">
	<div class="container">
		<div class="row">
			<div class="six columns">
				<h1 style="color:#0066cc">Article Title</h1>
				<span><b>&gt; Category 2</b></span>
			</div>
		</div>
	</div>
</div>

<div class="container mt5">
	<div class="row">
		<div class="twelve columns">
			<div style="width: auto; height: auto;">
				<div class="mt20" style="width: auto; height: auto;">
					<h4>Subtitle</h4>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys 
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
						make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
						typesetting, remaining essentially unchanged.
					</p>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys 
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
						make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
						typesetting, remaining essentially unchanged.
					</p>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys 
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
						make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
						typesetting, remaining essentially unchanged.
					</p>
				</div>
			</div>
		</div>	
	</div>
</div>