html,body{
	height:100%;
	margin:0;
}
#modal-login {
  max-width: 400px;
}

#modal-upload-bg-image {
  width: 1024px;
  top: 50%;
}

#modal-upload-image {
  width: 1024px;
  top: 50%; 
}

#modal-add-page {
  width: 850px;
}

.tacenter {
  text-align: center;
}
.taright {
  text-align: right !important;
}

#copyright {
  font-size: 12px;
  padding-left: 8px;
}

/* GENERAL */
.wrapper {
  padding: 8rem 0 7rem;
}

/* PAGINATION */
.pagination li {
  display: block;
  margin-right: 5px;
  vertical-align: bottom;
  float: left;
}
.pagination li a {
  display: block;
  padding: 5px 13px;
  color: #999999;
  background-color: #e6e6e6;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pagination li a:hover, .pagination li a:focus {
  color: #FFFFFF;
  background-color: #cccccc;
  border-color: #c9c9c9;
}
.pagination li a.active {
  cursor: default;
  color: #FFF;
  background-color: #33c3f0;
  border-color: #33c3f0;
}
.pagination li span.ellipsis {
  display: block;
  color: #666666;
  padding: 8px 5px 0;
  font-weight: 700;
}

/* STORE TEMPLATE FILTER (LEFT SIDE) */
#store-template-filter ul {
  list-style: none;
}
#store-template-filter ul li {
  margin-bottom: 0;
}
#store-template-filter ul li a {
  width: 100%;
  padding: 5px;
  color: #000000;
  display: list-item;
}
#store-template-filter ul li a:hover {
  cursor: pointer;
  background-color: #8c99a4;
  color: #FFFFFF;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
#store-template-filter ul li a:before {
  content: "\00BB \0020";
  font-size: 18px;
}
#store-template-filter ul.sub {
  margin: 0rem 0 1rem 2rem;
}
#store-template-filter hr {
  margin-top: 0;
  margin-bottom: 2rem;
}
#store-template-filter h4 {
  margin-bottom: 5px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-left: 8px;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 26px;
}
/*.rating > span:hover ~ span:before*/
.rating > span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

/* Site List
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.site-list {
  padding: 8rem 0 7rem;
}

.site-list > .container > .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-list > .container > .row .columns {
  border-bottom: 1px solid #eee;
}

.site-list img {
  width: 100%;
  height: 150px
}

.site-list .action {
  padding-top: 15px;
}

.site-list .info * {
  display: inline;
}

.site-list .info .separator {
  padding: 0 20px;
}

.site-list .button-primary {
  padding: 0 15px;
}

.site-list .site-description {
  text-align: justify;
  /*padding: 10px;*/
}

/* Founder
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.founder {
  background-image: url('../../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}

.founder > .container > .row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.founder img {
  width: 100%;
}

.founder .founder-description {
  text-align: justify;
  /*padding: 10px;*/
}

.founder .row.first {
  padding-top: 50px;
}
.founder .row.last {
  padding-bottom: 50px;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.about {
  padding: 8rem 0 3rem;
  text-align: justify;
}
.about-heading {
  margin-bottom: 1.2rem;
}
.about-description {
  opacity: .8;
  font-weight: 400;
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contact {
  padding: 8rem 0 7rem;
  text-align: left;
}
.contact-heading {
  margin-bottom: 1.2rem;
  text-align: center;
}

.contact #txtMessage {
  height: 120px;
}

/* Help */
.help {
  text-align: left;
  padding: 0;
}

.help .category ul {
  list-style: none;
}

.help .category ul li {
  padding: 10px;
}
.help .category ul li:hover {
  cursor: pointer;
  background-color: #8c99a4;
  color: #FFF;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.help .content {
  display: none;
  height: auto;
}
.help .content ul li .description {
  margin-top: 10px;
  display: none;
  text-align: justify;
}

.help .content ul li span {
  color: #16BCF0;
}

.help .content ul li span:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* padding */
.no-pd {
  padding: 0 !important;
}
.no-pd-top {
  padding-top: 0;
}
.small-pd-top {
  padding-top: 10px;
}
.medium-pd-top {
  padding-top: 20px !important;
}
.medium-pd-bottom {
  padding-bottom: 20px !important;
}
.big-pd-left {
  padding-left: 35px;
}
.small-pd-right {
  padding-right: 10px
}
.no-pd-bottom {
  padding-bottom: 0;
}
.pt8 {
  padding-top: 8px;
}

/* margin */
.no-mg {
  margin: 0;
}
.no-mg-bottom {
  margin-bottom: 0;
}
.small-mg-bottom {
  margin-bottom: 10px;
}
.mt5 {
  margin-top: 5px;
}
.mt20 {
  margin-top: 20px;
}
.ml20 {
  margin-left: 20px;
}

/* Floating */
.floleft {
  float: left;
}
.floright {
  float: right;
}

/* Unordered List */
.no-ul {
  list-style-type: none !important;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.section.header {
  background-image: url('../../images/top-bg-1.jpg');
  background-size: cover;
  color: #fff;
  /*padding-bottom: 5rem;*/
}

.section.header h4.hero-heading {
  color: #16828C;
  margin-top: -10px;
  margin-bottom: 1rem;
}

.section.header a {
  margin-top: -5px;
}
/*.container {
  max-width: 800px; 
}*/
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; 
}
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
}

ul.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li {
  padding-left: 0px;
  padding-right: 30px;
  display: inline-block;
}

/*.container ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #898989;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
}*/

/*.container ul li a:hover {
  background-color: #8c99a4;
  color: #FFF;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}*/

#footer ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #898989;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px;
}

#footer ul li a:hover {
  background-color: #8c99a4;
  color: #FFFFFF;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* EDITOR STYLE */

#editor-container {
  /*border:1px solid #000; */
  /*width: 1345px; */
  width: 100%;
  height:700px; 
  margin:0 auto;
  position: relative;
  overflow: hidden;
}

#editor-workspace {
  position: relative;
}

#editor-header {
  height: 110px;
  border-bottom: 1px dotted gray;
  /*position: absolute;*/
  z-index: 1;
  width: 100%;
  /*background-color: #F7F7F7;*/
  background-color: transparent;
  /*background-color: transparent !important;*/
}
#editor-content {
  /*border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;*/
  height: 1859.74px;
}
#editor-footer {
  height: 110px;
  border-top: 1px dotted gray;
  /*position: absolute;*/
  z-index: -1;
  width: 100%;
  bottom: 0%;
  /*background-color: #F7F7F7;*/
  background-color: transparent;
}

.editor-header-separator {
  display:none; 
  cursor:n-resize; 
  height:10px; 
  width:10px; 
  /*margin-left: auto; */
  /*margin-right: auto; */
  border-radius: 3px; 
  background-color: #5cb85c;
  position: relative;
  top: 97%;
  left: 49%;
}

.editor-footer-separator {
  display:none; 
  cursor:n-resize; 
  height:10px; 
  width:10px; 
  /*margin-left: auto; */
  /*margin-right: auto; */
  border-radius: 3px; 
  background-color: #5cb85c;
  position: relative;
  top: -3%;
  left: 49%;
}

.left-control {
  position: fixed;
  top: 72px;
  left: 12px;
  z-index: 2;
}

.left-control ul li {
  list-style: none;
  padding-right: 0;
  font-size: 16px;
  /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.96) 0%, rgba(238, 238, 238, 0.96) 100%);*/
  box-shadow: 0 2px 5px 0 rgba(22, 45, 61, 0.58);
  /*border-radius: 24px; */
  line-height: 48px; 
  height: 48px;
  position: relative;
  cursor: pointer;
  margin-bottom: 12px;
  width: 48px;
  display: block;
  background-color: white;
}

.left-control ul li img {
  margin: 8px;
}

.left-content {
  /*width: 450px;*/
  height: 510px;
  min-height: 270px;

  position: fixed;
  top: 72px;
  left: 80px;
  box-shadow: 0 2px 5px 0 rgba(22, 45, 61, 0.58);
  background-color: white;
  overflow: visible;
  z-index: 3;
  /*z-index: 1000;*/
}

.left-content .content {
  padding: 10px 0 0 0;
  height: calc(100vh - 96px);
  white-space: nowrap;
}

.left-content .content ul.category-list {
  /*background-color: #3899ec;*/
  display: inline-block;
  /*padding: 14px 0;*/
  vertical-align: top;
  list-style: none;
  margin: 0;
  width: 100px;
}

.left-content .content ul.category-list li.category {
  /*color: #fff;*/
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 2px;
  /*max-height: 30px;*/
  /*min-height: 14px;*/
  padding: 5px 15px;
  position: relative;
}

.left-content .content ul.category-list li.category:hover {
  background-color: rgba(51,195,240, 0.85);
  color: #FFF;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.left-content .content .category-content {
  background: #fff;
  /*border-bottom-right-radius: 10px;*/
  /*border-top-right-radius: 10px;*/
  box-sizing: border-box;
  display: inline-block;
  /*height: 100%;*/
  overflow: hidden;
  white-space: normal; 
  height: 500px;
  border-left: 1px solid #d9e1e8;
}
.left-content .content .category-content .header {
  border-bottom: 1px solid #d9e1e8;
  padding: 2px 15px;
}
.left-content .content .category-content .header .title {
  color: #395671;
  font-size: 18px;
  left: 24px;
  width: 340px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.left-content .content .category-content .category-view {
  height: calc(100% - 55px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 13px;
}
.left-content .content .category-content .category-view > div:hover {
  cursor: pointer;
}
.left-content .content .category-content .category-view h1, #editor-content h1 {
  font-size: 34px;
}
.left-content .content .category-content .category-view h2, #editor-content h2 {
  font-size: 30px;
}
.left-content .content .category-content .category-view h4, #editor-content h4 {
  font-size: 28px;
}
.left-content .content .category-content .category-view h6, #editor-content h6 {
  font-size: 20px;
}
.left-content .content .category-content .category-view p {
  width: 310px;
}

.left-content .content .category-content .category-view .title-section {
  font-size: 15px;
  position: relative;
  border-bottom: 1px solid #8092a4;
  padding-bottom: 5px;
  color: #2b5672;
  display: -webkit-flex;
  display: flex;
}
.left-content .content .category-content .category-view .title-section .title {
  display: inline-block;
  /*width: calc(100% - 42px);*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.left-content .content .category-content .category-view .items-section {
  margin-top: 10px;
  width: 350px;
}

.left-content .content .category-content .category-view .items-section .bg-items {
    display: inline-block;
    font-size: 0;
    width: 22.5%;
    margin-bottom: 10px;
    text-align: center;
    height: 50px;
    margin-right: 5px;
}
.left-content .content .category-content .category-view .items-section .bg-items:hover {
  box-shadow: 5px 5px 5px #888888;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.left-content .content .category-content .category-view .items-section .bg-items.blue {
    background-color: #33C3F0;
}
.left-content .content .category-content .category-view .items-section .bg-items.red {
    background-color: #d9534f;
}
.left-content .content .category-content .category-view .items-section .bg-items.green {
    background-color: #5cb85c;
}
.left-content .content .category-content .category-view .items-section .bg-items.yellow {
    background-color: #F9FF4F;
}
.left-content .content .category-content .category-view .items-section .bg-items.purple {
    background-color: #D022E3;
}
.left-content .content .category-content .category-view .items-section .bg-items.darkblue {
    background-color: #1A1E8A;
}
.left-content .content .category-content .category-view .items-section .bg-items.orange {
    background-color: #F56416;
}
.left-content .content .category-content .category-view .items-section .bg-items.gray {
    background-color: #DBDBDB;
}
.left-content .content .category-content .category-view .items-section .input-hex-color {
  width: 61%;
}
.container-box.gray {
  width: 320px; 
  height:100px; 
  /*margin: 5px auto;*/
  background-color: gray;
  opacity: 0.2;
}
.container-box.border-solid {
  width: 320px; 
  height:100px; 
  margin: 5px auto;
  border: 1px solid #000; 
}
.container-box.border-dashed {
  width: 320px; 
  height:100px; 
  margin: 5px auto;
  border: 1px dashed #000;
}
.container-box.border-dotted {
  width: 320px; 
  height:100px; 
  margin: 5px auto;
  border: 1px dotted #000;
}

/*.dragged-along {
  background-color: red !important;
}*/

.left-control .left-control-list.page {
  background: url(../../images/icons/webpage-black.png) no-repeat 8px;
  background-color: white;
}
.left-control .left-control-list.plus {
  background: url(../../images/icons/plus-black.png) no-repeat 8px;
  background-color: white;
}

.top-menu-editor-separator {
  height: 40px;
  width: 100%;
}

.draggable-element {
  cursor: pointer;
}
.draggable-element.grab {
  cursor: move; 
}

.label-element-type {
  position: absolute;
  top: 115%;
  left: 3%;
  background-color: #33C3F0;
  color: white;
  padding: 3px 10px;
  font-size: 13px;
  display: none;
}

.edge {
  visibility: hidden;
}
.edge.active {
  visibility: visible;
}
.draggable-holder {
  z-index: 1;
}
.draggable-holder:hover {
  border: 1px solid #3899ec;
}
.draggable-holder.active {
  border: 2px solid #3899ec;
}
.draggable-holder.active:hover {
  border: 2px solid #3899ec;
}

.draggable-holder > .menu-edit-container {
  /*border: 1px solid #000;*/
  position: absolute;
  padding: 0 10px;
  top: 60px;
  left: -10px;
  width: 310px;
}

.draggable-holder > .menu-edit-container > .menu-edit-text {
  border: 1px solid gray; 
  width: 63px; 
  height: 24px; 
  padding: 3px;
  display: inline-block;
  cursor: pointer;
}

.draggable-holder > .menu-edit-container > .menu-edit-event {
  border: 1px solid gray; 
  width: 50px; 
  height: 24px; 
  padding: 3px;
  left: 80px;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.draggable-holder > .menu-edit-container > .menu-edit-properties {
  border: 1px solid gray; 
  width: 72px; 
  height: 24px; 
  padding: 3px;
  left: 80px;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.draggable-holder > .menu-edit-container > .menu-delete {
  border: 1px solid gray; 
  width: 50px; 
  height: 24px; 
  padding: 3px;
  left: 80px;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.draggable-holder > .menu-edit-container > .menu-edit-text:hover {
  background-color: #3899ec;
  color: white;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.draggable-holder > .menu-edit-container > .menu-edit-event:hover {
  background-color: #d19405;
  color: white;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.draggable-holder > .menu-edit-container > .menu-edit-properties:hover {
  background-color: #5cb85c;
  color: white;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.draggable-holder > .menu-edit-container > .menu-delete:hover  {
  background-color: #d9534f;
  color: white;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

/* PROPERTIES */

.draggable-holder > .box-edit-properties {
  position: absolute; 
  top: -50px; 
  left: 250px; 
  width: 370px; 
  height: 575px;
  box-shadow: 0 2px 5px 0 rgba(22, 45, 61, 0.58);
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  /*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.draggable-holder > .box-edit-properties > .header {
  border-bottom: 1px solid #d9e1e8;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #5cb85c;
}
.draggable-holder > .box-edit-properties > .header > .title {
  color: white;
  font-size: 16px;
  left: 24px;
  /*width: 340px;*/
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.draggable-holder > .box-edit-properties > .header .prop-close-button {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url("../../images/icons/x-white.png");
  background-repeat: no-repeat;
  float: right;
  margin-top: 6px;
  margin-right: 12px;
}

.draggable-holder > .box-edit-properties > .container {
  height: 505px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 10px 0;
  width: 100%;
  /*overflow: visible;*/
  overflow-y: scroll;
  padding-left: 10px;
}

.draggable-holder > .box-edit-properties > .container label {
  font-weight: normal;
}

.panel-properties {
  display: none;
}

/* EVENTS */
.draggable-holder > .box-edit-event {
  position: absolute; 
  top: -50px; 
  left: 250px; 
  width: 370px; 
  height: 280px;
  box-shadow: 0 2px 5px 0 rgba(22, 45, 61, 0.58);
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  /*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.draggable-holder > .box-edit-event > .header {
  border-bottom: 1px solid #d9e1e8;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #d19405;
}
.draggable-holder > .box-edit-event > .header > .title {
  color: white;
  font-size: 16px;
  left: 24px;
  /*width: 340px;*/
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.draggable-holder > .box-edit-event > .header .prop-close-button {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-image: url("../../images/icons/x-white.png");
  background-repeat: no-repeat;
  float: right;
  margin-top: 6px;
  margin-right: 12px;
}

.draggable-holder > .box-edit-event > .container {
  height: 505px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 10px 0;
  width: 100%;
  /*overflow: visible;*/
  overflow-y: scroll;
  padding-left: 10px;
}

.draggable-holder > .box-edit-event > .container label {
  font-weight: normal;
}

.panel-event {
  display: none;
}

/* Modal Upload Background Image + Modal Upload Image */
.modal-image .items-section {
  margin-top: 10px;
  width: 975px;
  height: 350px;
  overflow-y: scroll;
}
.modal-image .items-section .bg-items {
    display: inline-block;
    font-size: 0;
    width: 110px;
    margin-bottom: 10px;
    text-align: center;
    height: 100px;
    margin-right: 10px;
    padding: 5px;
}
.modal-image .items-section .bg-items.active {
  background-color: rgba(51,195,240, 1);
}
.modal-image .items-section .bg-items:hover {
  cursor: pointer;
  background-color: rgba(51,195,240, 0.5);
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}

.box-tools {
  /*position: relative;*/
  /*top: 50px;*/
  /*left: 5px;*/
  width: 100px;
  height: 65px;
  /*box-shadow: 0 2px 5px 0 rgba(22, 45, 61, 0.58);*/
  overflow: hidden;
  /*border-radius: 5px;*/
  /*background-color: white;*/
  /*border: 1px solid #000;*/
  text-align: center;
  padding-top: 10px;
  display: none;
  z-index: 1;

  background-color: #FCFCFC;
  box-shadow: 0 0 14px 0 rgba(22, 45, 61, 0.36);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.box-right-click-menu {
  position: absolute;
  width: 150px;
  z-index: 1;
}

.contextmenu {
  box-shadow: 0 0 14px 0 rgba(22, 45, 61, 0.36);
  z-index: 1;
  position: absolute;
  border-radius: 8px;
  padding: 10px 0 10px 0;
  background-color: rgba(255, 255, 255, 0.95);
  color: #1d2d3c;
  -webkit-user-select: none;
  display: none;
}

.contextmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contextmenu ul:after {
  content: '';
  height: 1px;
  display: block;
  border: 0;
  background-color: #d9e1e8;
  margin: 10px 24px 12px 24px;
}

.contextmenu ul.no-after:after {
  height: 0;
  border: 0;
  margin: 0;
}

.contextmenu ul li {
  line-height: 25px;
  height: 25px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  cursor: pointer;
  font-size: 13px;
}
.contextmenu ul li:hover {
  color: #FFFFFF;
  background-color: #5cb85c;
}

.box-page {
  display: none;
}

.box-page .box-list-page {
  /*min-height: 400px;*/
  position: relative;
  max-height: 515px;
  opacity: 1;
  background-color: #FCFCFC;
  box-shadow: 0 0 14px 0 rgba(22, 45, 61, 0.36);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

.box-page .box-list-page ul {
  width: 300px;
}
.box-page .box-list-page ul li {
  list-style: none;
  /*padding-right: 0;*/
  font-size: 14px;
  /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.96) 0%, rgba(238, 238, 238, 0.96) 100%);*/
  /*box-shadow: 0 2px 5px 0 rgba(22, 45, 61, 0.58);*/
  /*border-radius: 24px; */
  /*line-height: 40px; */
  /*height: 40px;*/
  position: relative;
  cursor: pointer;
  width: 280px;
  display: block;
  background-color: white;
  padding: 10px;
  /*margin: 5px 14px;*/
  margin: 0;
  border: 1px solid #E6E9EB;
}

.box-page .box-list-page ul li .row {
  padding: 6px 0;
}
.box-page .box-list-page ul li:hover {
  background-color: rgba(51,195,240, 0.1);
}

.box-page .box-list-page ul li a {
  position: relative;
  color: #000000;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: left;
  line-height: 1;
  font-size: 14px;
  font-weight: 100;
  margin-right: 10px;
}

.box-page .box-list-page ul li a:hover {
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}

.box-page .box-list-page ul li .page-name {
  display: block;
}
.box-page .box-list-page ul li .page-control {
  display: block;
}

#modal-add-page .box-add-page-category ul {
  list-style: none;
  border-right: 1px solid gray;
}
#modal-add-page .box-add-page-category ul li {
  padding: 5px;
  padding-left: 10px;
}
#modal-add-page .box-add-page-category ul li:hover {
  color: #FFFFFF;
  background-color: #5cb85c;
  cursor: pointer;
}

#modal-add-page .box-add-page-content {
  position: relative;
  max-height: 350px;
  overflow-y: auto;
}

#modal-add-page .box-add-page-content ul {
  list-style: none;
  position: relative;
}

/*#modal-add-page .box-add-page-content ul li:hover {
  background-color: rgba(51,195,240, 0.1);
}*/

#modal-add-page .box-add-page-content ul li {
  margin-bottom: 2rem;
}
#modal-add-page .box-add-page-content ul li .page-name {
  display: block;
}
#modal-add-page .box-add-page-content ul li .page-description {
  display: block;
  font-size: 13px;
}
#modal-add-page .box-add-page-content ul li .page-control {
  display: block;
  margin-top: 20px;
}

#modal-add-page .box-add-page-content ul li .page-control .input-page-name {
  width: 70%;
}

#modal-add-page .box-add-page-content ul li .page-control .button {
  padding: 0px 15px;
  font-size: 11px;
}
#modal-add-page .box-add-page-content ul li .page-control .input-page-name {
  display: none;
}

.enlarge-preview-workspace {
  height: 600px;
  width: 880px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 60px;
  left:430px;
  opacity: 1;
  background-color: #FCFCFC;
  box-shadow: 0 0 14px 0 rgba(22, 45, 61, 0.36);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
  display: none;
}

/*.left-content .content .category-content .category-view .outer-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.left-content .content .category-content .category-view .outer-container .inner-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.left-content .content .category-content .category-view .outer-container .inner-container .content-wrapper {
  margin-right: 0px;
  height: 100%;
  overflow-y: visible;
}*/

.error {
  color: #e82110;
  /*float: left;*/
  position: relative;
  margin-top: -15px;
  display: none;
}
.green {
  color: #5cb85c;
  /*float: left;*/
  position: relative;
  margin-top: -15px;
  display: none;
}

.hide {
  display: none !important;
}

/* PRODUCT DETAIL */
.gallery-image-detail {
  width:auto; 
  height:auto;
}
.gallery-image-detail > .preview-image-holder {
  width:300px; 
  height:170px; 
  margin: 10px auto; 
  display:block;
}
.gallery-image-detail > .item-wrapper {
  border:1px solid #efefef; 
  width:300px; 
  height:80px; 
  margin: 10px auto; 
  display:block;
}
.gallery-image-detail > .item-wrapper > ul {
  padding:15px; 
  text-align:center;
}
.gallery-image-detail > .item-wrapper > ul li {
  width:75px; 
  height:55px; 
  display:inline-block; 
  margin-right:5px;
}
.gallery-image-detail > .item-wrapper > ul li:hover {
  border: 1px solid #1EAEDB;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.5;
}
.gallery-image-detail > .item-wrapper > ul li:last-child {
  margin-right: 0;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}

/* Tambahan dari nicholas */
.edit-param-element{
	width: 25%;
    position: absolute;
    top: 39px;
    right: 0px;
    min-height: 100%;
	background-color:#DDDDDD;
	z-index:3;
}
.edit-param-element .header .title{
	background-color: #3899EC;
    text-align: center;
    color: #FFF;
    padding: 5px;
}
.edit-param-element .title-section{
	border-bottom:1px solid black;
}
.right-side{
    right: 0px;
}
.left-side{
    left: 0px;
}
nav{
	z-index:10;
}