<div class="about no-pd-bottom">
	<div class="container">
		<div class="row">
			<div class="six columns">
				<h1 style="color:#0066cc">Product Name</h1>
				<span><b>&gt; Category 1</b></span>
			</div>
		</div>
	</div>
</div>

<div class="container mt5">
	<div class="row">
		<div class="four columns">
			<div class="gallery-image-detail">
				<div class="preview-image-holder">
					<img src="source/images/300x170.jpg" />
				</div>
				<div class="item-wrapper">
					<ul class="no-ul">
						<li>
							<img src="source/images/300x170_blue.jpg" width="75" height="55" />
						</li>
						<li>
							<img src="source/images/300x170_red.jpg" width="75" height="55" />
						</li>
						<li>
							<img src="source/images/300x170_yellow.jpg" width="75" height="55" />
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="eight columns">
			<div style="width: auto; height: auto; padding:10px;">
				<div style="width: auto; height: 40px;">
					<span class="ml20">IDR 125,000</span>
					<select class="ml20">
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
					<input type="button" class="button button-primary ml20" value="Order" />
				</div>
				<div class="mt20" style="width: auto; height: auto;">
					<p class="ml20">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys 
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
						make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
						typesetting, remaining essentially unchanged.
					</p>
				</div>
				<div class="mt20" style="width: auto; height: auto;">
					<span class="ml20">Weight: 750gr / pcs</span>
					<p class="ml20">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys 
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to 
						make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
						typesetting, remaining essentially unchanged.
					</p>
				</div>
			</div>
		</div>	
	</div>
</div>